.info-content-wrapper {
    display: flex;
    padding: 10px 20px 20px 20px;
}

.info-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-available-gpu-text {
    color: #143D60;
    font-size: 1.25rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.info-gpu-group-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.info-gpu-label {
    color: #143D60;
    width: 50px;
    padding-right: 8px;
    text-align: right;
    flex-shrink: 0;
}

.info-gpu-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: calc(10px * 6 + 40px * 6);
}

.info-gpu-icon {
    width: 24px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.info-gpu-icon.active {
    background-color: #F84C4C;
}

.info-gpu-icon:not(.active) {
    background-color: #A0C878;
}

.info-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 25px;
    flex-grow: 1;
}

.info-typography {
    color: #143D60;
} 